html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.SeccionesDiscografica {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 20px;
}

.Elemento {
    width: 30%;
    height: auto;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: all .5s;
}

.Elemento:hover  {
    transform: scale(110%);
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
}

.Elemento:hover a div {
    background-color: #fff;
    color: black;
}

.Elemento img {
    width: 100%;
}

.Elemento h1 {
    width: 100%;
}

.Elemento a div {
    width: 100px;
    background-color: dodgerblue;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login {
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: 70px;
    text-align: center;
}