@model HernandezJorge_Musica.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <div style="display: flex; gap: 5px;">
        <h4>Comentarios</h4>
        <a asp-action="CrearComentario" asp-route-id="@Model?.ArtistId">
            <button style="background: green; padding: 5px; border: 0px solid black; color: white; border-radius: 5px;">Crear</button>
        </a>
    </div>

    <section style="border: 1px solid gray; padding: 10px;">
        <table>
            <tr>
                <td>
                    <h4>Título</h4>
                </td>
                <td>
                    @* Algoritmo para mostrar estrellas: *@
                    @{
                        decimal Puntuacion = 2.5M; //El numero de estrellas a mostrar.
                        int PuntuacionTruncada = Convert.ToInt32(Math.Truncate(Puntuacion));

                        <div style="Display: flex; flex-gap: 5px;">
                            @if (Puntuacion == PuntuacionTruncada) //Si la puntuacion introducida es igual a la truncada...
                            {
                                for(int i = 0; i < Puntuacion; i++)
                                {
                                    <img src="~/images/estrella.svg" style="width: 25px;"> //Solo imprime tantas estrellas enteras como input haya.
                                }
                            }
                            else
                            {
                                for(int i = 1; i <= PuntuacionTruncada; i++) //En caso contrario...
                                {
                                    <img src="~/images/estrella.svg" style="width: 25px;"> //Imprime todas hasta la truncada...
                                }
                                <img src="~/images/mediaEstrella.svg" style="width: 25px;"> //E imprime una ultima con la mitad.
                            }
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Descripción detallada de ejemplo</p>
                </td>
            </tr>
        </table>
    </section>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArtistId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
